/*font-family: 'Merriweather', serif;*/
/*font-family: 'PT Sans Caption', sans-serif;*/
html body {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/*прибираєм відступи внизу картинки які встановлені за замовчуванням*/
img {
   display: inline-block;
}
/* ............................................................
                      GRID
     ..........................................................*/

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row {

}
/*очистка потоків обтікання яка появилась через float*/
.row::after {
    /*очищаєм потоки обтікання як зліва так і справа*/
    clear: both;

    /*пустий елемент тому що по іншому псевдоелемент не спрацює*/
    content: "";

    /*для коректного відображення в старих і нових браузерах*/
    display: table;
}

.col-4 {
    width: 360px;
    margin-right: 30px;
    float: left;
}

/*забираєм відступ 30рх в останньої колонки*/
.col-4:last-child {
    margin-right: 0px;
}

/* ............................................................
                      HEADER
     ..........................................................*/

.header {
    /*../ - це підняття на рівеньвверх по каталогу а потім */
    /*заходиться в потрібну папку*/
    /*колір вказується на випадок якщо картинка не загрузиться*/
    background: #343c4e url("../img/bg/bg-header.jpg");

    /*для того щоб фон не повторявся а була тільки одна картинка*/
    background-repeat: no-repeat;
    background-position: center;

    /*далі робим так щоб картинка розтягувалась і заповняла*/
    /*ввесь блок в якому вона знаходиться*/
    background-size: cover;

    /*робимо висоту хедера 100% (vh) в залежності від вікна в якому*/
    /*ми переглядаємо*/
    height: 100vh;
	

    /*стилізуєм текст*/
    color: white;
    text-align: center;

    /*вирівнюєм текст по вертикалі*/
    /*за допомогою флексбоксу*/
    display: flex;

    /*за замовчуванням флекс йде в рядок */
    /*міняєм значення на колонку*/
    flex-direction: column;

    /*вирівнюєм по горизонталі*/
    align-items: center;

    /*по вертикалі*/
    justify-content: center;

    /*робимо позицію батьківську в хедера*/
    position: relative;
}

.header__title h1 {
    font-size: 56px;
    font-weight: normal;
    /*line-height: 62px;*/
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    margin-top: -50px;
}

.header__slogan h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 42px;

}

.header__arrow {
    font-size: 48px;
    /*background: red;*/
    width: 60px;
    height: 50px;

    /*половина від width: 60px;*/
    margin-left: -30px;

    position: absolute;
    bottom: 50px;
    left: 50%;
}

 /* ............................................................
                      PORTFOLIO
     ..........................................................*/

.portfolio {
    padding-top: 70px;
    padding-bottom: 100px;
}

/*відступи між рядами*/
.portfoli-item {
    margin-bottom: 20px;
}

.title h3 {
    font-size: 46px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    text-align: center;
}

.portfolio-item__img {
    margin-bottom: 17px;
}

.portfolio-item__title {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
}

.portfolio-item__text {
    font-size: 16px;
    line-height: 1.5;
}

.portfolio-item__title a {
    text-decoration: none;
    color: black;
    /*міняєм підкреслення ссилки*/
    /*ставим білим кольором це знадобиться потім*/
    border-bottom: 1px solid #ffffff;
}

/*як поводитиметься ссилка при наведенні на неї*/
.portfolio-item__title a:hover {
    color: #0052C2;
    border-color: rgba (0, 82, 194, 0.3);
}

.portfolio-item__text p {
    margin-top: 0px;
    margin-bottom: 15px;
}

/* ............................................................
                      FOOTER
     ..........................................................*/

.foter {
    background-color: #061634;
    color: #6479a2;
    padding-top: 90px;
    padding-bottom: 190px;
}

.foter p {
    margin-top: 0px;
    margin-bottom: 15px;
}

p.footer__name {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: normal;
    font-family: 'Merriweather', serif;
}

.footer__social {
    color: #ffffff;
}

.footer__social-icons {
    color: #ffffff;
    font-size: 32px;
}

.footer__social-icons a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
}

/*забираєм відступ справа в останньої іконки*/
.footer__social-icons a:last-child {
    margin-right: 0px;
}

/*добавляєм ефект щоб ссилки красились в жовтий колір*/
.footer__social-icons a:hover {
    color: #FFE400;
}

.button {
    /*шрифт робим болд (жирний)*/
    font-weight: 700;

    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    /*добавим відстань між буквами*/
    letter-spacing: 1.6px;

    /*нам потрібно щоб кнопка була по всьому розтягнута*/
    display: inline-block;

    /*рамка (ширина, колір, )*/
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 50px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;

    margin-bottom: 13px;
}

.button:hover {
    color: #061634;
    background-color: #ffffff ;

}

